.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  border-top: 3px solid #000;
  background: linear-gradient(
    90deg,
    #ff0000 0%,
    #af0e03e8 10%,
    #001aff 50%,
    #af0e03e8 90%,
    #ff0000 100%
  );
}

.footer__copyright {
  position: absolute;
  left: 20px;
  margin: 0;
  font-family: "Marvel Regular", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.footer__logo {
  display: block;
  width: 200px;
  height: auto;
  padding: 10px 0;
  margin: 0 auto;
  border-radius: 18px;
}